.commentEdit{
  background-color: #fff;
  width: 40rem;
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 1000;
  border: 3px solid #711d1c;
  font-size: 1.5rem;
}

.row{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.textAreaBox{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textArea{
  width: 100%;
  padding: 1rem;
  outline: none;
}

.btnBox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.closeBtn{
  background-color: red;
  color: #fff;
  border: none;
  outline: none;
  padding: .4rem 1.3rem;
  border-radius: .7rem;
  font-size: 1.4rem;
}
.submitBtn{
  background-color: green;
  color: #fff;
  border: none;
  outline: none;
  padding: .4rem 1.3rem;
  border-radius: .7rem;
  font-size: 1.4rem;
}