.stepper {
  margin-bottom: 40px;
  padding: 5rem 0 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 3rem;
  color: #ef394e;
  border-bottom: 1.2px solid #55555535;
}

.activeStep {
  color: #ef394e;
  opacity: 1 !important;
  font-size: 2rem;
}

.text {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.2;
  opacity: 0.7;
}
.stepper svg {
  font-size: 1.2rem;
  opacity: 0.7;
}

@media (max-width: 400px) {
  .activeStep {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .stepper {
    gap: 1.5rem;
  }
}
