.ProductDetails{
  background-color: #fff;
  width: 40rem;
  position: fixed;
  top: 50%; /* مرکز قرار دادن عمودی */
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 1000;
  border: 3px solid #711d1c;
  font-size: 1.5rem;

}

.imageBox{
  text-align: center;
}

.image{
  border: 1.2px solid #711d1c;
  border-radius: .5rem;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnBox{
  text-align: center;
}

.closeBtn{
  background-color: red;
  color: #fff;
  border: none;
  outline: none;
  padding: .2rem 1.3rem;
  border-radius: .7rem;
  font-size: 1.4rem;
}