.navbar {
  /* padding-top: 1rem; */
  z-index: 9999;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  position: relative;
}

.menuItem {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0;
}

.menuLink {
  display: flex;
  align-items: center;
  color: var(--dark);
  gap: 0.5rem;
}

.navbarHoverBackground {
  position: absolute;
  top: 0;
  right: -0.5rem;
  width: 15.5rem;
  height: 100%;
  background-color: #ecebeb;
  border-radius: 0.8rem;
  z-index: -5;
  transition: all 0.8s ease;
}

.icon{
  font-size: 1.8rem;
}

.position0 {
  right: -0.5rem;
  width: 15.5rem;
}

.position1 {
  right: 16rem;
  width: 11rem;
}

.position2 {
  right: 28rem;
  width: 9rem;
}

.position3 {
  right: 37rem;
  width: 9rem;
}

.megaMenu {
  position: absolute;
  top: 3rem;
  right: 0rem;
  display: flex;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 45rem;
  z-index: 99999;
  overflow: auto;
  border-radius: 1rem;
}

.categoryList {
  display: flex;
  flex-direction: column;
}

.categoryItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 19rem;
}

.categoryItem:hover {
  border-right: 3px solid red;
  background: linear-gradient(to left, #ef394e43, #fff);
}

.subMenuList {
  position: absolute;
  right: 180px;
  top: 1rem;
  background-color: inherit;
  padding: 10px;
  display: none; /* به صورت پیش‌فرض مخفی است */
  flex-direction: column;
  gap: 1.5rem;
  width: 60%;
  height: 100%;
}

.categoryItem:hover .subMenuList {
  display: flex; /* با هاور کردن روی کتگوری، ساب‌منو نمایش داده می‌شود */
}

.subMenuItem {
  border-right: 3.5px solid red;
  color: rgba(0, 0, 0, 0.519);
  font-weight: 600;
  padding-right: 0.5rem;
}



@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}
